<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Head</title>
</head>
<body>
    <h1>Login</h1>
  
    <a href="/">home</a><br>
    <a href="/products">products</a><br>
    <a href="/services">services</a><br>
    <a href="/profile">profile</a><br>
    <a href="/about">about</a><br>
    <a href="/register">register account</a><br>
    <a href="/login">register account</a><br>

    <br>
    
    <form method="POST" action="/handle_registration/">
        {% csrf_token %}
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname" required><br>

        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lname" required><br>

        <br>
        
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br>
        
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" required><br>

        <br>
        
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required><br>
        
        <label for="phone">Mobile Number:</label><br>
        <input type="tel" id="phone" name="phone" required><br>

        <br>

        <input type="submit" value="Submit">

    </form>
    
</body>
</html>
