{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Profile - DO LA LASH</title>
    {% include "head.html" %}
  </head>
  <body>
    <div>
      <link href="{% static 'profile.css' %}" rel="stylesheet" />

      <div class="profile-container">
        <header data-role="Header" class="profile-header max-width-container">
          <div class="profile-navbar">
            <div class="profile-container01"></div>
            <div class="profile-middle">
              <div class="profile-left">
                <a href="/" class="profile-text navbar-link">HOME</a>
                <a href="/services" class="profile-text01 navbar-link">
                  SERVICES
                </a>
              </div>
              <span class="navbar-logo-title">DO LA LASH</span>
              <div class="profile-right">
                <a href="/about-us" class="profile-text02 navbar-link">
                  ABOUT US
                </a>
                <a href="/contact" class="profile-text03 navbar-link">
                  CONTACT
                </a>
              </div>
            </div>
            <div class="profile-icons">
              <a href="/profile" class="profile-navlink">
                <img
                  alt="AccountCircle3271301"
                  src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0nMjQnIGhlaWdodD0nMjQnIHZpZXdCb3g9JzAgMCAyNCAyNCcgZmlsbD0nbm9uZScgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz4KPHBhdGggZD0nTTEyIDJDNi40OCAyIDIgNi40OCAyIDEyQzIgMTcuNTIgNi40OCAyMiAxMiAyMkMxNy41MiAyMiAyMiAxNy41MiAyMiAxMkMyMiA2LjQ4IDE3LjUyIDIgMTIgMlpNMTIgNUMxMy42NiA1IDE1IDYuMzQgMTUgOEMxNSA5LjY2IDEzLjY2IDExIDEyIDExQzEwLjM0IDExIDkgOS42NiA5IDhDOSA2LjM0IDEwLjM0IDUgMTIgNVpNMTIgMTkuMkM5LjUgMTkuMiA3LjI5IDE3LjkyIDYgMTUuOThDNi4wMyAxMy45OSAxMCAxMi45IDEyIDEyLjlDMTMuOTkgMTIuOSAxNy45NyAxMy45OSAxOCAxNS45OEMxNi43MSAxNy45MiAxNC41IDE5LjIgMTIgMTkuMlonIGZpbGw9JyMxNjE2MTYnLz4KPC9zdmc+Cg=="
                  class="profile-image"
                />
              </a>
            </div>
          </div>
          <div data-role="BurgerMenu" class="profile-burger-menu">
            <svg viewBox="0 0 1024 1024" class="profile-icon">
              <path
                d="M128 554.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 298.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667zM128 810.667h768c23.552 0 42.667-19.115 42.667-42.667s-19.115-42.667-42.667-42.667h-768c-23.552 0-42.667 19.115-42.667 42.667s19.115 42.667 42.667 42.667z"
              ></path>
            </svg>
          </div>
        </header>
        <div class="profile-blog">
          <div class="profile-container02"></div>
          <div class="profile-container03">
            <div class="profile-container04">
              <div class="profile-container05">
                <span class="profile-text04">
                  <span>My Profile</span>
                  <br />
                </span>
                <span class="profile-text07">Username</span>
                <div class="profile-container06">
                  <input
                    type="text"
                    placeholder="@juandelacruz"
                    class="profile-textinput input"
                    />
                </div>
                <span class="profile-text08">
                  <span>Phone Number</span>
                  <br />
                </span>
                <div class="profile-container07">
                  <input
                    type="number"
                    placeholder="+63"
                    class="profile-textinput1 input"
                    />
                </div>
                <span class="profile-text11">Email</span>
                <div class="profile-container08">
                  <input
                    type="email"
                    placeholder="juandelacruz@gmail.com"
                    class="profile-textinput2 input"
                    />
                </div>
                <span class="profile-text12">Password</span>
                <input
                  type="password"
                  placeholder="***********"
                  class="profile-textinput3 input"
                  />
                <button class="profile-button button">Update</button>                  
              </div>
            </div>
          </div>
        </div>
        <div class="profile-banner">
          <footer class="profile-footer">
            <div class="profile-container09">
              <h3 class="profile-text13 Heading-3">DO LA LASH</h3>
              <span class="profile-text14">
                Merry Homes II Subdivision Caloocan City, barangay 174
              </span>
              <span class="profile-text15">(671) 555-0110</span>
              <span class="profile-text16">contact@dolalash.com</span>
            </div>
            <div class="profile-links-container"></div>
          </footer>
        </div>
      </div>
    </div>
    <script src="https://unpkg.com/@teleporthq/teleport-custom-scripts"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
  </body>
</html>
