<div>
  <link href="./blog-post-card24.css" rel="stylesheet" />
  <div class="blog-post-card24-blog-post-card">
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fHBvcnRyYWl0fGVufDB8fHx8MTYyNjM3ODk3Mg&ixlib=rb-1.2.1&w=1000"
      image_src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fHBvcnRyYWl0fGVufDB8fHx8MTYyNjM3ODk3Mg&amp;ixlib=rb-1.2.1&amp;h=1000"
      class="blog-post-card24-image"
    />
    <div class="blog-post-card24-container">
      <div class="blog-post-card24-container1">
        <span class="blog-post-card24-text"><span>My Profile</span></span>
      </div>
      <h1 class="blog-post-card24-text1">
        <span>Email: example@gmail.com</span>
      </h1>
    </div>
  </div>
</div>
