.blog-post-card23-blog-post-card {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  box-shadow: 4px 4px 10px 0px rgba(18, 18, 18, 0.1);
  transition: 0.3s;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
.blog-post-card23-blog-post-card:hover {
  transform: scale(1.02);
}

@media(max-width: 991px) {
  .blog-post-card23-blog-post-card {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media(max-width: 767px) {
  .blog-post-card23-blog-post-card {
    flex-direction: column;
  }
}
