<div>
  <link href="./blog-post-card26.css" rel="stylesheet" />
  <div class="blog-post-card26-blog-post-card">
    <img
      alt="image"
      src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDE1fHxwcm9maWxlfGVufDB8fHx8MTY3MzU0MDg0Nw&ixlib=rb-4.0.3&w=1500"
      image_src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDd8fHBvcnRyYWl0fGVufDB8fHx8MTYyNjM3ODk3Mg&amp;ixlib=rb-1.2.1&amp;h=1000"
      class="blog-post-card26-image"
    />
    <div class="blog-post-card26-container">
      <div class="blog-post-card26-container1">
        <span class="blog-post-card26-text"><span>My Profile</span></span>
      </div>
      <h1 class="blog-post-card26-text1">
        <span>Lorem ipsum dolor sit amet</span>
      </h1>
      <input type="text" placeholder="placeholder" class="input" />
      <span class="blog-post-card26-text2">
        <span>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non
          volutpat turpis. Mauris luctus rutrum mi ut rhoncus. Integer in
          dignissim tortor. Lorem ipsum dolor sit amet, consectetur adipiscing
          ...
        </span>
      </span>
      <div class="blog-post-card26-container2">
        <button class="button"><span>Edit profile</span></button>
      </div>
    </div>
  </div>
</div>
