<div>
  <link href="./blog-post-card22.css" rel="stylesheet" />
  <div class="blog-post-card22-blog-post-card">
    <div class="blog-post-card22-container">
      <div class="blog-post-card22-container1"></div>
      <h1 class="blog-post-card22-text">
        <span>Lorem ipsum dolor sit amet</span>
      </h1>
      <div class="blog-post-card22-blog">
        <div class="blog-post-card22-container2">
          <div
            class="blog-post-card23-blog-post-card blog-post-card23-root-class-name3"
          ></div>
        </div>
        <div class="blog-post-card22-container3"></div>
      </div>
    </div>
  </div>
</div>
