<div>
  <link href="./feature-card3.css" rel="stylesheet" />
  <div class="feature-card3-feature-card">
    <svg viewBox="0 0 1024 1024" class="feature-card3-icon">
      <path
        d="M512 490q44 0 75-31t31-75-31-75-75-31-75 31-31 75 31 75 75 31zM512 86q124 0 211 87t87 211q0 62-31 142t-75 150-87 131-73 97l-32 34q-12-14-32-37t-72-92-91-134-71-147-32-144q0-124 87-211t211-87z"
      ></path>
    </svg>
    <h2 class="feature-card3-text"><span>Lorem ipsum</span></h2>
    <span class="feature-card3-text1">
      <span>Lorem ipsum dolor sit amet, consectetur adipiscing.</span>
    </span>
  </div>
</div>
