.about-us-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.about-us-header {
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.about-us-navbar {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.about-us-container1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-us-middle {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  justify-content: center;
}
.about-us-left {
  display: flex;
  grid-gap: 45px;
  position: relative;
  align-items: flex-start;
}
.about-us-text {
  text-decoration: none;
}
.about-us-text01 {
  text-decoration: none;
}
.about-us-right {
  display: flex;
  grid-gap: 45px;
  position: relative;
  align-items: flex-start;
}
.about-us-text02 {
  text-decoration: none;
}
.about-us-text03 {
  text-decoration: none;
}
.about-us-icons {
  display: flex;
}
.about-us-navlink {
  display: contents;
}
.about-us-image {
  width: 24px;
  height: 24px;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  text-decoration: none;
}
.about-us-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  min-height: 80vh;
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: space-between;
}
.about-us-container2 {
  display: flex;
  margin-right: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
}
.about-us-text04 {
  font-size: 3rem;
  max-width: 450px;
}
.about-us-text05 {
  margin-top: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-twounits);
}
.about-us-btn-group {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.about-us-link {
  transition: 0.3s;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.about-us-link:hover {
  color: var(--dl-color-gray-white);
  background-color: var(--dl-color-gray-black);
}
.about-us-image1 {
  width: 483px;
  height: 620px;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius8);
}
.about-us-banner {
  flex: 0 0 auto;
  width: 100%;
  height: 1px;
  display: flex;
  margin-top: var(--dl-space-space-threeunits);
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-950);
}
.about-us-container3 {
  flex: 0 0 auto;
  width: 250px;
  height: 100px;
  display: flex;
  align-items: center;
  border-color: var(--dl-color-gray-950);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.about-us-text12 {
  margin-bottom: var(--dl-space-space-halfunit);
}
.about-us-text13 {
  font-size: 10px;
  line-height: 20px;
  letter-spacing: 1em;
  text-transform: uppercase;
}
.about-us-testimonial {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.about-us-image2 {
  width: var(--dl-size-size-xxlarge);
  height: var(--dl-size-size-xxlarge);
  object-fit: cover;
  border-radius: var(--dl-radius-radius-radius8);
}
.about-us-testimonial1 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.about-us-container4 {
  display: flex;
  align-self: flex-start;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.about-us-icon {
  width: var(--dl-size-size-small);
  margin-bottom: -6rem;
}
.about-us-text14 {
  font-size: 1.15rem;
  max-width: 600px;
  margin-top: var(--dl-space-space-threeunits);
  text-align: center;
  padding-left: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-twounits);
}
.about-us-container5 {
  display: flex;
  align-self: flex-end;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.about-us-icon02 {
  width: var(--dl-size-size-small);
  margin-top: -6rem;
}
.about-us-text17 {
  font-size: 1.5rem;
  max-width: 600px;
  text-align: center;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.about-us-text18 {
  color: var(--dl-color-gray-500);
  max-width: 600px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
}
.about-us-banner1 {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.about-us-text19 {
  text-align: center;
  font-weight: 600;
  margin-bottom: 0px;
}
.about-us-social-bar {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  justify-content: center;
}
.about-us-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.about-us-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.about-us-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.about-us-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-sixunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: space-between;
}
.about-us-container6 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.about-us-text20 {
  margin-bottom: var(--dl-space-space-halfunit);
}
.about-us-text21 {
  color: var(--dl-color-gray-black50);
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.about-us-text22 {
  color: var(--dl-color-gray-black50);
  margin-top: var(--dl-space-space-twounits);
}
.about-us-text23 {
  color: var(--dl-color-gray-black50);
  margin-top: 12px;
}
.about-us-links-container {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  grid-gap: var(--dl-space-space-threeunits);
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
@media(max-width: 991px) {
  .about-us-container1 {
    display: none;
  }
  .about-us-left {
    display: none;
  }
  .about-us-right {
    display: none;
  }
  .about-us-icons {
    display: none;
  }
  .about-us-hero {
    flex-direction: column;
  }
  .about-us-container2 {
    align-items: center;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
    padding-right: 0px;
  }
  .about-us-text04 {
    text-align: center;
  }
  .about-us-text05 {
    text-align: center;
    padding-left: var(--dl-space-space-threeunits);
    padding-right: var(--dl-space-space-threeunits);
  }
  .about-us-image2 {
    margin-bottom: 0px;
  }
  .about-us-text14 {
    margin-top: var(--dl-space-space-threeunits);
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .about-us-text19 {
    text-align: center;
  }
  .about-us-footer {
    flex-direction: column-reverse;
  }
  .about-us-links-container {
    margin-bottom: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .about-us-header {
    background-color: #ffffff;
  }
  .about-us-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-us-text05 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .about-us-image1 {
    width: 80%;
  }
  .about-us-testimonial {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-us-banner1 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-us-social-bar {
    width: 755px;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .about-us-footer {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .about-us-links-container {
    margin-top: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: space-between;
  }
}
@media(max-width: 479px) {
  .about-us-header {
    padding: var(--dl-space-space-unit);
    background-color: #ffffff;
  }
  .about-us-container1 {
    background-color: #ffffff;
  }
  .about-us-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-us-container2 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-us-text04 {
    font-size: 3rem;
  }
  .about-us-btn-group {
    flex-direction: column;
  }
  .about-us-image1 {
    border-radius: var(--dl-radius-radius-radius8);
  }
  .about-us-text13 {
    font-size: 10px;
    line-height: 20px;
    letter-spacing: 1em;
    text-transform: uppercase;
  }
  .about-us-testimonial {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-us-image2 {
    width: 200px;
  }
  .about-us-icon {
    margin-bottom: 0px;
  }
  .about-us-text14 {
    width: auto;
  }
  .about-us-icon02 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .about-us-banner1 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-us-social-bar {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .about-us-footer {
    padding: var(--dl-space-space-unit);
  }
  .about-us-text21 {
    color: var(--dl-color-gray-black50);
  }
  .about-us-text22 {
    color: var(--dl-color-gray-black50);
  }
  .about-us-text23 {
    color: var(--dl-color-gray-black50);
  }
  .about-us-links-container {
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
}
