.forgot-password-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.forgot-password-navbar {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.forgot-password-header {
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.forgot-password-navbar1 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.forgot-password-container1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.forgot-password-middle {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  justify-content: center;
}
.forgot-password-left {
  display: flex;
  grid-gap: 45px;
  position: relative;
  align-items: flex-start;
}
.forgot-password-text {
  text-decoration: none;
}
.forgot-password-text01 {
  text-decoration: none;
}
.forgot-password-logo-center {
  text-decoration: none;
}
.forgot-password-right {
  display: flex;
  grid-gap: 45px;
  position: relative;
  align-items: flex-start;
}
.forgot-password-text02 {
  text-decoration: none;
}
.forgot-password-text03 {
  text-decoration: none;
}
.forgot-password-icons {
  display: flex;
}
.forgot-password-navlink {
  display: contents;
}
.forgot-password-image {
  width: 24px;
  height: 24px;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  text-decoration: none;
}
.forgot-password-burger-menu {
  display: none;
}
.forgot-password-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.forgot-password-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateX(100%);
  transition: 0.3s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.forgot-password-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.forgot-password-container2 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.forgot-password-logo-center1 {
  color: var(--dl-color-gray-black);
  height: auto;
  font-size: 24px;
  font-family: Jost;
  font-weight: 500;
  line-height: 20px;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  letter-spacing: 0.4em;
  text-decoration: none;
}
.forgot-password-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.forgot-password-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.forgot-password-middle1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.forgot-password-home {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.forgot-password-services {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.forgot-password-about-us {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.forgot-password-contact {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.forgot-password-profile {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.forgot-password-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.forgot-password-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.forgot-password-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  text-decoration: none;
}
.forgot-password-pricing {
  width: 927px;
  height: 998px;
  display: flex;
  background-size: cover;
  justify-content: center;
  background-color: var(--dl-color-gray-white);
  background-image: url('https://images.unsplash.com/photo-1630655491563-fe6ea47d06f5?ixid=Mnw5MTMyMXwwfDF8c2VhcmNofDV8fGV5ZWxhc2h8ZW58MHx8fHwxNjc0MzA1Mzcy&ixlib=rb-4.0.3&w=1500');
}
.forgot-password-container3 {
  width: 100%;
  height: 1021px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  border-color: var(--dl-color-gray-black);
  border-width: 0px;
  justify-content: center;
}
.forgot-password-container4 {
  flex: 1;
  width: 648px;
  height: 341px;
  display: flex;
  max-width: 450px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.forgot-password-container4:hover {
  transform: scale(1.02);
}
.forgot-password-icon10 {
  width: 24px;
  height: 57px;
}
.forgot-password-text04 {
  font-size: 1.5rem;
  font-weight: 600;
}
.forgot-password-form {
  width: 349px;
  height: 298px;
  display: inline-block;
  text-align: center;
}
.forgot-password-text07 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-oneandhalfunits);
  padding-top: 0px;
  padding-left: 0px;
  padding-bottom: 0px;
}
.forgot-password-container5 {
  flex: 0 0 auto;
  width: auto;
  height: 52px;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.forgot-password-icon12 {
  width: 24px;
  height: 100%;
  margin-right: var(--dl-space-space-halfunit);
}
.forgot-password-textinput {
  color: var(--dl-color-gray-black);
  width: 374px;
  height: 52px;
  background-color: var(--dl-color-gray-900);
}
.forgot-password-container6 {
  flex: 0 0 auto;
  width: 100%;
  height: 46px;
  display: flex;
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  align-content: center;
  margin-bottom: var(--dl-space-space-halfunit);
  justify-content: center;
}
.forgot-password-navlink1 {
  color: var(--dl-color-gray-white);
  width: 218px;
  margin-top: var(--dl-space-space-halfunit);
  align-items: flex-start;
  padding-top: 10px;
  border-width: 0px;
  padding-left: var(--dl-space-space-twounits);
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: 10px;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.forgot-password-navlink2 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-unit);
  padding-top: 0px;
  padding-left: 0px;
  margin-bottom: var(--dl-space-space-unit);
  padding-bottom: 0px;
  text-decoration: underline;
}
.forgot-password-container7 {
  flex: 0;
  width: auto;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: auto;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
@media(max-width: 991px) {
  .forgot-password-container1 {
    display: none;
  }
  .forgot-password-left {
    display: none;
  }
  .forgot-password-right {
    display: none;
  }
  .forgot-password-icons {
    display: none;
  }
  .forgot-password-burger-menu {
    display: flex;
  }
  .forgot-password-icon {
    width: 24px;
    height: 24px;
    display: flex;
  }
  .forgot-password-logo-center1 {
    margin-left: 0px;
  }
  .forgot-password-pricing {
    height: 1019px;
  }
  .forgot-password-container3 {
    height: 100%;
    align-items: center;
    flex-direction: column;
  }
  .forgot-password-container4 {
    flex: 0;
    width: auto;
    height: auto;
    padding: var(--dl-space-space-twounits);
    max-width: auto;
    max-height: auto;
    margin-right: 0px;
  }
  .forgot-password-form {
    height: 203px;
  }
  .forgot-password-container7 {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .forgot-password-header {
    background-color: #ffffff;
  }
  .forgot-password-logo-center {
    text-decoration: none;
  }
  .forgot-password-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .forgot-password-logo-center1 {
    color: var(--dl-color-gray-black);
  }
  .forgot-password-home {
    color: rgb(0, 0, 0);
    font-size: 13px;
    font-family: Jost;
    font-weight: 500;
    text-decoration: none;
  }
  .forgot-password-services {
    color: rgb(0, 0, 0);
    font-size: 13px;
    font-family: Jost;
    font-weight: 500;
    text-decoration: none;
  }
  .forgot-password-about-us {
    color: rgb(0, 0, 0);
    font-size: 13px;
    font-family: Jost;
    font-weight: 500;
    text-decoration: none;
  }
  .forgot-password-contact {
    color: rgb(0, 0, 0);
    font-size: 13px;
    font-family: Jost;
    font-weight: 500;
    text-decoration: none;
  }
  .forgot-password-profile {
    color: rgb(0, 0, 0);
    font-size: 13px;
    font-family: Jost;
    font-weight: 500;
    text-decoration: none;
  }
  .forgot-password-pricing {
    width: 100%;
    height: auto;
  }
  .forgot-password-container3 {
    height: 973px;
    margin-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .forgot-password-container4 {
    width: 100%;
    height: 340px;
    margin: 0px;
    padding: var(--dl-space-space-twounits);
  }
  .forgot-password-form {
    height: 207px;
  }
  .forgot-password-container7 {
    height: 1341px;
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .forgot-password-header {
    padding: var(--dl-space-space-unit);
    background-color: #ffffff;
  }
  .forgot-password-container1 {
    background-color: #ffffff;
  }
  .forgot-password-mobile-menu {
    padding: 16px;
  }
  .forgot-password-pricing {
    width: auto;
    height: 999px;
  }
  .forgot-password-container3 {
    width: 100%;
    height: auto;
    margin-top: var(--dl-space-space-unit);
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .forgot-password-container4 {
    width: auto;
    height: 341px;
    padding: var(--dl-space-space-twounits);
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
  }
  .forgot-password-container7 {
    height: 1700px;
  }
}
