.profile-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.profile-navbar {
  top: 0;
  width: 100%;
  display: flex;
  z-index: 1000;
  position: fixed;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.profile-header {
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.profile-navbar1 {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.profile-container01 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile-middle {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  justify-content: center;
}
.profile-left {
  display: flex;
  grid-gap: 45px;
  position: relative;
  align-items: flex-start;
}
.profile-text {
  text-decoration: none;
}
.profile-text01 {
  text-decoration: none;
}
.profile-logo-center {
  text-decoration: none;
}
.profile-right {
  display: flex;
  grid-gap: 45px;
  position: relative;
  align-items: flex-start;
}
.profile-text02 {
  text-decoration: none;
}
.profile-text03 {
  text-decoration: none;
}
.profile-icons {
  display: flex;
}
.profile-navlink {
  display: contents;
}
.profile-image {
  width: 24px;
  height: 24px;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  text-decoration: none;
}
.profile-burger-menu {
  display: none;
}
.profile-icon {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  display: none;
}
.profile-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  padding: 32px;
  z-index: 100;
  position: absolute;
  transform: translateX(100%);
  transition: 0.3s;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
}
.profile-nav {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.profile-container02 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.profile-logo-center1 {
  color: var(--dl-color-gray-black);
  height: auto;
  font-size: 24px;
  font-family: Jost;
  font-weight: 500;
  line-height: 20px;
  margin-left: var(--dl-space-space-fourunits);
  margin-right: var(--dl-space-space-fourunits);
  letter-spacing: 0.4em;
  text-decoration: none;
}
.profile-close-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-icon02 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.profile-middle1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  margin-bottom: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  justify-content: center;
}
.profile-home {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.profile-services {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.profile-about-us {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.profile-contact {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.profile-profile {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 13px;
  text-align: left;
  font-family: Jost;
  font-weight: 500;
  text-decoration: none;
}
.profile-icon04 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.profile-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.profile-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  text-decoration: none;
}
.profile-blog {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  justify-content: space-between;
}
.profile-container03 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  flex-direction: column;
  justify-content: space-between;
}
.profile-container04 {
  width: 100%;
  height: 720px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-bottom: 45px;
  justify-content: center;
}
.profile-container05 {
  flex: 2;
  width: 1081px;
  height: 618px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.profile-container06 {
  width: auto;
  height: 606px;
  display: flex;
  max-width: 450px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.profile-container06:hover {
  transform: scale(1.02);
}
.profile-text04 {
  font-size: 1.5rem;
  font-weight: 600;
}
.profile-form {
  width: 377px;
  height: 700px;
  display: inline-block;
}
.profile-text07 {
  align-self: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.profile-container07 {
  flex: 0 0 auto;
  width: auto;
  height: 52px;
  margin: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-textinput {
  color: var(--dl-color-gray-black);
  width: 374px;
  height: 52px;
  background-color: var(--dl-color-gray-900);
}
.profile-text08 {
  align-self: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.profile-container08 {
  flex: 0 0 auto;
  width: auto;
  height: 52px;
  margin: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.profile-textinput1 {
  color: var(--dl-color-gray-black);
  width: 374px;
  height: 52px;
  background-color: var(--dl-color-gray-900);
}
.profile-text11 {
  align-self: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.profile-container09 {
  flex: 0 0 auto;
  width: auto;
  height: 52px;
  margin: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.profile-textinput2 {
  color: var(--dl-color-gray-black);
  width: 374px;
  height: 52px;
  background-color: var(--dl-color-gray-900);
}
.profile-text12 {
  align-self: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.profile-container10 {
  flex: 0 0 auto;
  width: auto;
  height: 52px;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  margin-right: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-twounits);
  justify-content: center;
}
.profile-textinput3 {
  color: var(--dl-color-gray-black);
  width: 374px;
  height: 52px;
  background-color: var(--dl-color-gray-900);
}
.profile-container11 {
  flex: 0 0 auto;
  width: auto;
  height: 35px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.profile-button {
  color: var(--dl-color-gray-white);
  width: 278px;
  margin-top: 0px;
  padding-top: 10px;
  border-width: 0px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: 10px;
  justify-content: center;
  background-color: var(--dl-color-gray-black);
}
.profile-banner {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.profile-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-sixunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-sixunits);
  justify-content: space-between;
}
.profile-container12 {
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  flex-direction: column;
}
.profile-text13 {
  margin-bottom: var(--dl-space-space-halfunit);
}
.profile-text14 {
  color: var(--dl-color-gray-black50);
  margin-top: var(--dl-space-space-oneandhalfunits);
}
.profile-text15 {
  color: var(--dl-color-gray-black50);
  margin-top: var(--dl-space-space-twounits);
}
.profile-text16 {
  color: var(--dl-color-gray-black50);
  margin-top: 12px;
}
.profile-links-container {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  grid-gap: var(--dl-space-space-threeunits);
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
@media(max-width: 991px) {
  .profile-container01 {
    display: none;
  }
  .profile-left {
    display: none;
  }
  .profile-right {
    display: none;
  }
  .profile-icons {
    display: none;
  }
  .profile-burger-menu {
    display: flex;
  }
  .profile-icon {
    width: 24px;
    height: 24px;
    display: flex;
  }
  .profile-logo-center1 {
    margin-left: 0px;
  }
  .profile-container04 {
    align-items: center;
    flex-direction: column;
  }
  .profile-container05 {
    width: 100%;
    height: 908px;
  }
  .profile-container06 {
    width: auto;
    height: 574px;
    padding-top: var(--dl-space-space-halfunit);
    margin-right: 0px;
    padding-bottom: 112px;
  }
  .profile-form {
    height: 396px;
  }
  .profile-container07 {
    margin: var(--dl-space-space-unit);
  }
  .profile-container08 {
    margin: var(--dl-space-space-unit);
  }
  .profile-container09 {
    margin: var(--dl-space-space-unit);
  }
  .profile-container10 {
    margin-top: var(--dl-space-space-unit);
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .profile-footer {
    flex-direction: column-reverse;
  }
  .profile-links-container {
    margin-bottom: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .profile-header {
    background-color: #ffffff;
  }
  .profile-logo-center {
    text-decoration: none;
  }
  .profile-burger-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .profile-logo-center1 {
    color: var(--dl-color-gray-black);
  }
  .profile-home {
    color: rgb(0, 0, 0);
    font-size: 13px;
    font-family: Jost;
    font-weight: 500;
    text-decoration: none;
  }
  .profile-services {
    color: rgb(0, 0, 0);
    font-size: 13px;
    font-family: Jost;
    font-weight: 500;
    text-decoration: none;
  }
  .profile-about-us {
    color: rgb(0, 0, 0);
    font-size: 13px;
    font-family: Jost;
    font-weight: 500;
    text-decoration: none;
  }
  .profile-contact {
    color: rgb(0, 0, 0);
    font-size: 13px;
    font-family: Jost;
    font-weight: 500;
    text-decoration: none;
  }
  .profile-profile {
    color: rgb(0, 0, 0);
    font-size: 13px;
    font-family: Jost;
    font-weight: 500;
    text-decoration: none;
  }
  .profile-blog {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .profile-container04 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .profile-container05 {
    height: 945px;
    flex-direction: column;
  }
  .profile-container06 {
    width: 592px;
    height: 639px;
    padding-top: 0px;
    margin-right: 0px;
    padding-left: 0px;
    margin-bottom: 0px;
    padding-right: 0px;
    padding-bottom: 5px;
  }
  .profile-form {
    width: 365px;
    height: 503px;
  }
  .profile-text07 {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .profile-container07 {
    margin: var(--dl-space-space-unit);
  }
  .profile-text08 {
    padding: 0px;
  }
  .profile-container08 {
    margin: var(--dl-space-space-unit);
  }
  .profile-text11 {
    padding: 0px;
  }
  .profile-container09 {
    margin: var(--dl-space-space-unit);
  }
  .profile-text12 {
    padding: 0px;
  }
  .profile-container10 {
    margin-top: var(--dl-space-space-unit);
    margin-left: var(--dl-space-space-unit);
    margin-right: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-twounits);
  }
  .profile-container11 {
    height: 36px;
    margin: var(--dl-space-space-unit);
  }
  .profile-button {
    margin: 0px;
  }
  .profile-banner {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .profile-footer {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .profile-links-container {
    margin-top: var(--dl-space-space-twounits);
    flex-direction: column;
    justify-content: space-between;
  }
}
@media(max-width: 479px) {
  .profile-header {
    padding: var(--dl-space-space-unit);
    background-color: #ffffff;
  }
  .profile-container01 {
    background-color: #ffffff;
  }
  .profile-mobile-menu {
    padding: 16px;
  }
  .profile-blog {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .profile-container04 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .profile-form {
    height: 499px;
  }
  .profile-banner {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .profile-footer {
    padding: var(--dl-space-space-unit);
  }
  .profile-text14 {
    color: var(--dl-color-gray-black50);
  }
  .profile-text15 {
    color: var(--dl-color-gray-black50);
  }
  .profile-text16 {
    color: var(--dl-color-gray-black50);
  }
  .profile-links-container {
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
  }
}
