.sign-up-page-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.sign-up-page-header {
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.sign-up-page-navbar {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  background-color: var(--dl-color-gray-white);
}
.sign-up-page-container1 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.sign-up-page-middle {
  display: flex;
  position: relative;
  box-sizing: border-box;
  align-items: center;
  flex-shrink: 1;
  border-color: transparent;
  justify-content: center;
}
.sign-up-page-left {
  display: flex;
  grid-gap: 45px;
  position: relative;
  align-items: flex-start;
}
.sign-up-page-text {
  text-decoration: none;
}
.sign-up-page-text01 {
  text-decoration: none;
}
.sign-up-page-right {
  display: flex;
  grid-gap: 45px;
  position: relative;
  align-items: flex-start;
}
.sign-up-page-text02 {
  text-decoration: none;
}
.sign-up-page-text03 {
  text-decoration: none;
}
.sign-up-page-icons {
  display: flex;
}
.sign-up-page-navlink {
  display: contents;
}
.sign-up-page-image {
  width: 24px;
  height: 24px;
  position: relative;
  box-sizing: border-box;
  object-fit: cover;
  border-color: transparent;
  text-decoration: none;
}
.sign-up-page-pricing {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #f5f5f5ff;
}
.sign-up-page-container2 {
  width: 100%;
  height: 923px;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  justify-content: center;
}
.sign-up-page-container3 {
  flex: 2;
  width: 50%;
  height: 828px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.sign-up-page-container4 {
  flex: 1;
  height: 637px;
  display: flex;
  max-width: 450px;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  margin-right: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-color: var(--dl-color-gray-white);
}
.sign-up-page-container4:hover {
  transform: scale(1.02);
}
.sign-up-page-text04 {
  font-size: 1.5rem;
  font-weight: 600;
}
.sign-up-page-text07 {
  align-self: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.sign-up-page-container5 {
  flex: 0 0 auto;
  width: auto;
  height: 52px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.sign-up-page-icon {
  width: 24px;
  height: 100%;
}
.sign-up-page-textinput {
  color: var(--dl-color-gray-black);
  width: 374px;
  height: 52px;
  background-color: var(--dl-color-gray-900);
}
.sign-up-page-text08 {
  align-self: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.sign-up-page-container6 {
  flex: 0 0 auto;
  width: auto;
  height: 52px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.sign-up-page-icon2 {
  width: 24px;
  height: 100%;
}
.sign-up-page-textinput1 {
  color: var(--dl-color-gray-black);
  width: 374px;
  height: 52px;
  background-color: var(--dl-color-gray-900);
}
.sign-up-page-text09 {
  align-self: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-unit);
}
.sign-up-page-container7 {
  flex: 0 0 auto;
  width: auto;
  height: 52px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.sign-up-page-icon4 {
  width: 24px;
  height: 100%;
}
.sign-up-page-textinput2 {
  color: var(--dl-color-gray-black);
  width: 374px;
  height: 52px;
  background-color: var(--dl-color-gray-900);
}
.sign-up-page-text10 {
  align-self: flex-start;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-unit);
}
.sign-up-page-container8 {
  flex: 0 0 auto;
  width: auto;
  height: 52px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.sign-up-page-icon6 {
  width: 24px;
  height: 84px;
}
.sign-up-page-textinput3 {
  color: var(--dl-color-gray-black);
  width: 374px;
  height: 52px;
  margin-top: var(--dl-space-space-unit);
  background-color: var(--dl-color-gray-900);
}
.sign-up-page-navlink1 {
  align-self: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-unit);
  padding-bottom: 0px;
  text-decoration: underline;
}
.sign-up-page-navlink2 {
  color: var(--dl-color-gray-white);
  width: 278px;
  margin-top: 19px;
  padding-top: 5px;
  border-width: 0px;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: 5px;
  justify-content: center;
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
@media(max-width: 991px) {
  .sign-up-page-container1 {
    display: none;
  }
  .sign-up-page-left {
    display: none;
  }
  .sign-up-page-right {
    display: none;
  }
  .sign-up-page-icons {
    display: none;
  }
  .sign-up-page-container2 {
    align-items: center;
    flex-direction: column;
  }
  .sign-up-page-container3 {
    width: 100%;
  }
}
@media(max-width: 767px) {
  .sign-up-page-header {
    background-color: #ffffff;
  }
  .sign-up-page-container2 {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .sign-up-page-container3 {
    flex-direction: column;
  }
  .sign-up-page-container4 {
    width: 100%;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .sign-up-page-header {
    padding: var(--dl-space-space-unit);
    background-color: #ffffff;
  }
  .sign-up-page-container1 {
    background-color: #ffffff;
  }
  .sign-up-page-container2 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
}
